html, body {
	width: 100%;
	height: 100%;
}

.bg {
	background-image: url(../images/church.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    position: relative;
}

.bg-content {
	padding: 300px 0 60px;
    margin-top: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 100vh;
}